.a-menu{
	display:inline-block;
	text-align:center!important;
	padding:5px;
	width:100%;
	background-color:$fondo;
}
.a-menu_item{
	display:inline-block;
	font-size:20px;
	font-weight:700;
	padding:15px;
	color:white;
	&.img-rounded {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 50px; 
    height: 50px;
  }
}
.a-menu_item_link{
	color:$white;
	&:hover{
		color:&hover;
		text-decoration: none;
		padding:20px;
	}
}

body{
	background-color:$body;
}
