.a-menu{
	display:inline-block;
	text-align:center!important;
	padding:5px 0;
	width:100%;
	background-color:$fondo;
	.circulo {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
     border-radius: 50%;
     width: 50px; 
     height: 50px;
     margin: 0;
     position:relative;
  }
}
.a-menu_item{
	display:inline-block;
	font-size:20px;
	font-weight:700;
	padding:15px;
	color:white;
}
.a-menu_item_link{
	color:$white;
	&:hover{
		color:&hover;
		text-decoration: none;
		padding:20px;
	}
}

.body {
    width: 65%;
    margin-left: 17%;
    margin-right: auto;
    position: relative; 
}
.body_circulo {
      width: 42%;
      float: left;
      margin-left: auto;
      left: auto;
      right: auto; 
  }
.body_circulo--mini {
        font-size: 40px;
        text-align: center;
        margin-top: 140px; 
    }
.body_circulo--white {
        background-color: $white;
        border-radius: 50%;
        width: 290px;
        height: 290px; 
    }
.body_texto {
      width: 55%;
      margin-left: auto;
      left: auto;
      right: auto; 
  }
.body_texto--h1 {
        color: #39D084;
        font-size: 40px;
         }
.body_texto--h2 {
        color: $white; 
    }
.body_texto--p {
        line-height: 30px;
        font-size: 18px;
        color: $white;
        margin-bottom: 40px; 
    }
.body_texto--btn {
        text-decoration: none;
        color: $white;
        font-size: 22px;
        background-color: #39D084;
        padding: 17px 50px;
        border-radius: 50px;
         }
.body_texto--btn i {
          padding-right: 10px; 
      }
.body_redes {
    margin-top: 60px;
    display: inline-block;
    text-align: center;
     }
.body_redes--ico {
      margin-right: 23px;
  }


body{
	background-color:$body;
}

